@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0b1120;
  /* Darker text for readability */

  /* Project Palette */
  --pk-blue: #0055A4;
  --pk-red: #EF4135;
  --pk-white: #ffffff;
}

.dark {
  --background: #0b1120;
  /* Dark Navy/Black */
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--pk-blue);
  --color-secondary: var(--pk-red);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}